@layer components {
	.basic-button {
		@apply bg-light font-medium relative translate-x-0 translate-y-0 cursor-pointer border border-panel py-1.5 px-4 no-underline shadow-current transition-[transform,box-shadow] duration-75;

		box-shadow: var(--shadow-size) var(--shadow-size) hsl(var(--panel));
		transform: translate(0px, 0px);

		&:active,
		&.selected,
		&:active.no-hover,
		&.selected.no-hover {
			transform: translate(var(--shadow-size), var(--shadow-size));
			box-shadow: 0px 0px hsl(var(--panel));
			opacity: 1;
		}

		&.flush {
			transform: translate(calc(-1 * var(--shadow-size)), calc(-1 * var(--shadow-size)));

			&:active,
			&.selected {
				transform: translate(0px, 0px);
			}
		}

		&.loading {
			@apply pointer-events-none;
			transform: translate(var(--shadow-size), var(--shadow-size));
			box-shadow: 0px 0px hsl(var(--panel));

			&.flush {
				transform: translate(0px, 0px);
			}

			&::after {
				@apply my-auto ml-3 inline-block animate-spin;
				content: '߷';
			}

			&.fixed-right::after {
				@apply absolute right-2;
			}
		}
	}
}
