@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
	}

	body {
		@apply text-primary bg-light min-h-full w-full overflow-hidden fixed;
	}

	a {
		@apply transition-opacity duration-100 ease-in-out active:opacity-50;
		-webkit-touch-callout: none;
	}

	a:focus-visible,
	button:focus-visible {
		@apply text-accent opacity-100 outline-none;
	}

	button {
		@apply disabled:text-primary active:opacity-50 disabled:pointer-events-none disabled:cursor-not-allowed disabled:text-opacity-50;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.h-screen {
		max-height: -webkit-fill-available;
	}
}

@layer base {
	input,
	select,
	textarea {
		@apply text-primary accent-accent rounded-none bg-light outline-none placeholder:text-primary placeholder:text-opacity-30;
	}

	[type='datetime-local'] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	[contenteditable='true']:empty:before {
		@apply text-primary text-opacity-30 pointer-events-none;
		content: attr(data-placeholder);
	}

	[contenteditable='true']:focus {
		outline: none !important;
	}

	select:invalid {
		@apply text-primary text-opacity-30;
	}
}

@layer utilities {
	.disabled {
		@apply pointer-events-none cursor-not-allowed text-primary text-opacity-50;
	}
}
